body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 30px 0;
}

p {
    padding: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 15px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.map {
    margin: 0 0 auto;
    padding: 20px;
}

.curiosity {
    padding: 100px;
}

.table-curiosity {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-table {
    text-align: center;
    height: 50px;
    width: 1500px;
}

.image-pt-table {
    height: 50px;
    width: 1500px;
}

.image-table {
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-table {
    text-align: center;
    height: 50px;
    width: 1500px;
}

.title-table th {
    width: 200px;
}