body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 30px 0;
}

p {
    padding: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.box {
    background: linear-gradient(-45deg, #B2ABF2, #89043D, #2FE6DE, #1C3041, #18F2B2);
    background-size: 500% 40%;
    animation: gradient 15s ease infinite;
    position: fixed;
    width: 100%;
    top: 0%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.istanbul-logo{
    
    display:flex;
    margin: 1.5% 1.5%;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
    right: 5%;
    top: 5%;
    font-weight: bold;
    font-size: 200%;
    display: inline-block;
    position: fixed;
    word-spacing: 75px
}
.links {
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.map {
    padding: 5px;
}

.curiosity {
    padding: 100px;
}

.table-curiosity {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-table {
    text-align: center;
    height: 50px;
}

.image-pt-table {
    height: 50px;
}

.image-table {
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-table {
    text-align: center;
    height: 50px;
}

.title-table th {
    width: 200px;
}

.video {
    padding: 20px;
}
