body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #914802;
    padding: 30px 0;
}

.box {
    display: flex;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 15px;
    right: 0;
}

li {
    display: inline;
    margin: 0 0 0 15px;
    padding-top: 300%;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}